.popperStart {
  transform: translate(0, 0) ;
  top: 0;
  left: 40px !important;
}
.popperEnd {
  transform: translate(0, 0) ;
  top: 0;
  left: -40px !important;
}

.react-datepicker {
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
}

.react-datepicker__header {
  background-color: #daa520;
  color: white;
}

.react-datepicker__current-month {
  font-weight: bold;
}

.react-datepicker__day {
  width: 1.75rem;
  line-height: 1.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.react-datepicker__day--selected {
  background-color: #fae7b7;
  color: white;
}

.react-datepicker__day--in-range {
  background-color: #fae7b7;
  color: black;
}

.react-datepicker__day:hover {
  background-color: #a77c10;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day--keyboard-selected {
  background-color: #daa520;
  color: white;
}

.react-datepicker__navigation {
  background: none;
  color: white;
}
